.container{
    border: 2px solid black;
    width: 520px;
}
.secondary{
    border: 2px solid black;
    margin: 50px;
}
.event-name{
    text-align: center;
}
.secondary{
    width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    margin-top: 25px;
    text-align: center;
}
img{
    width: 200px;
    height: 260px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
    background-position: top;
}
.details{
    font-size: large;
    text-align: right;
    padding: 20px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
body{
    display: grid;
    place-content: center;
    min-height: 100vh; 
}
button{
    height: 30px;
    width: 90px;
}
.select{
    display: flex;
    margin-top:20px;
    margin-left: 10px;
}
form {
   display: block;
   margin-top: 0em;
}
.title{
    font-family: 'Indie Flower', cursive;
    font-size:xx-large;
    margin-bottom: 10px;
   font-weight: 600;
   letter-spacing: 2px;
   
}
.availablity{
    font-size:large;
    margin-top: 0px;
    padding-bottom: 5px;
    font-weight: 500;
}
.nos{
    width: 30%;
    margin-right: 21%;
}
.cancel{
    margin-left: 100px;
}


@media(min-width:750px){
    .container{
        width:820px;
    }
    .secondary{
        width: 710px; 
        grid-template-columns: 1fr 2fr;
    }
    .select{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top:20px;
        padding-left: 200px;
    }
    .nos{
         width: 20%;
    }
    .cancel{
        margin-left: 0px;
    }
}